// Variables
$primaryColor:        #2F9C43 !default;	
$primaryColorLight:   #226db4!default;
$primaryBorderColor:  #1f3c57!default;
$btnColorBg:          #5d7c2a!default;
$btnColor:            #8dc237!default;
$secondaryColor:      #B20000 !default;	
$white:               #fff    !default;
$black:               #000    !default;
$red:                 #f00    !default;
$green:               #2F9C43 !default;
$blue:                #098496 !default;
$gray-light:          #ddd    !default;
$gray:                #767676 !default;
$gray-dark:           #333    !default;
$border:              #ccc    !default;


// Font Family

$primary-font: "Outfit", sans-serif;
$secondary-font : "Inter", sans-serif;
$tertiary-font : "Gilroy-Bold", sans-serif;
$tertiary-font-reg : 'Gilroy-Regular ☞';
$tertiary-font-med : 'Gilroy-Medium ☞';
$tertiary-font-second :"Gilmer Regular";
$brfirma : 'BRFirma';
$roboto : "Roboto Serif", serif;
$roboto-slab : "Roboto Slab", serif;
$helvetica : 'Helvetica Now Display';


// Font Weight
$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;


//font-size
$body-size: 17px;
