input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=tel],
input[type=url] {
  -webkit-appearance: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333;
  opacity: 1;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #333;
  opacity: 1;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #333;
  opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
  color: #333;
  opacity: 1;
}

::placeholder {
  color: #aaa;
}

input:focus::placeholder {
  color: transparent;
}

.solution-cons-wrap {
  display: flex;
  padding: 0 60px;
  gap: 60px;
}
.solution-cons-wrap .solution-cons-content {
  flex: 1;
}
.solution-cons-wrap .solution-cons-img {
  flex: 1;
}
.solution-cons-wrap .solution-cons-img img {
  border-radius: 12px;
}

.solution-consulting {
  padding-left: 0px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .solution-consulting {
    padding-left: 0px;
  }
}
@media (min-width: 1200px) {
  .solution-consulting {
    padding-left: 65px;
  }
}

@media (min-width: 1024px) {
  .consulting-container {
    display: flex;
  }
}

.consulting-left {
  width: 100%;
}
@media (min-width: 1024px) {
  .consulting-left {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .consulting-left {
    width: 40%;
  }
}
@media (min-width: 1400px) {
  .consulting-left {
    width: 56%;
  }
}
.consulting-left h3 {
  font-weight: 400;
  font-size: 33px;
}
.consulting-left h3 span {
  font-weight: 600;
}

.consulting-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
@media (min-width: 1200px) {
  .consulting-menu {
    margin-top: 25px;
  }
}

.menu-item h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  padding: 15px 0 10px;
  border-bottom: 1px solid #919191;
  transition: all 0.6s ease;
  color: #003E40;
  font-weight: 500;
  margin: 0;
}
@media (min-width: 1024px) {
  .menu-item h3 {
    font-size: 20px;
    width: 96%;
    padding: 20px 0 20px 0px;
  }
}
@media (min-width: 1200px) {
  .menu-item h3 {
    font-size: 22px;
    padding: 40px 0 36px;
  }
}
@media (min-width: 1200px) {
  .menu-item h3 {
    font-size: 28px;
    padding: 40px 0 36px;
  }
}
.menu-item h3:nth-child(1) .border-one {
  opacity: 0;
}
.menu-item h3:hover {
  background: linear-gradient(90deg, #2F9C43, #007aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px 0 10px;
  transition: all ease 0.6s;
}
@media (min-width: 1024px) {
  .menu-item h3:hover {
    padding: 20px 0 20px 0px;
  }
}
@media (min-width: 1200px) {
  .menu-item h3:hover {
    padding: 40px 0 36px 60px;
  }
}
.menu-item h3:hover .grdnt-overlay {
  transform: rotateY(90deg);
}

@media (min-width: 1024px) {
  .menu-item:hover:nth-child(1) {
    position: relative;
  }
}
@media (min-width: 1024px) and (min-width: 1200px) {
  .menu-item:hover:nth-child(1) .border-one {
    width: 800px;
    height: 80px;
    background: url(../images/shapes/line01.png) no-repeat;
    position: absolute;
    top: 54%;
    right: -440px;
    opacity: 1;
    transition: all ease 0.3s;
  }
}
@media (min-width: 1024px) {
  .menu-item:hover:nth-child(1) .content-box-otr {
    top: 0px;
    padding-top: 115px;
  }
  .menu-item:hover:nth-child(2) {
    position: relative;
  }
}
@media (min-width: 1024px) and (min-width: 1200px) {
  .menu-item:hover:nth-child(2) .border-two {
    width: 800px;
    height: 80px;
    background: url(../images/shapes/line02.png) no-repeat;
    position: absolute;
    top: 40%;
    right: -440px;
    opacity: 1;
    transition: all ease 0.3s;
  }
}
@media (min-width: 1024px) {
  .menu-item:hover:nth-child(2) .content-box-otr {
    top: -80px;
  }
  .menu-item:hover:nth-child(3) {
    position: relative;
  }
}
@media (min-width: 1024px) and (min-width: 1200px) {
  .menu-item:hover:nth-child(3) .border-three {
    width: 868px;
    height: 80px;
    background: url(../images/shapes/line03.png) no-repeat;
    position: absolute;
    top: 17%;
    right: -430px;
    opacity: 1;
    transition: all ease 0.3s;
  }
}
@media (min-width: 1024px) {
  .menu-item:hover:nth-child(3) .content-box-otr {
    top: -200px;
  }
  .menu-item:hover h3 {
    transition: all 0.6s ease;
  }
  .menu-item:hover .cb-otr {
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0%;
    right: -100%;
    background: green;
  }
  .menu-item:hover .content-box-otr {
    display: block;
  }
}

.digit-line:hover:nth-child(1) {
  position: relative;
}
@media (min-width: 1200px) {
  .digit-line:hover:nth-child(1) .border-one {
    width: 800px;
    height: 80px;
    background: url(../images/shapes/line01-dgt.png) no-repeat;
    position: absolute;
    top: 54%;
    right: -540px;
    opacity: 1;
    transition: all ease 0.3s;
  }
}
.digit-line:hover:nth-child(1) .content-box-otr {
  top: 0px;
  padding-top: 115px;
}

.manged-line:hover:nth-child(1) {
  position: relative;
}
@media (min-width: 1200px) {
  .manged-line:hover:nth-child(1) .border-one {
    width: 800px;
    height: 80px;
    background: url(../images/shapes/line01-mng.png) no-repeat;
    position: absolute;
    top: 54%;
    right: -480px;
    opacity: 1;
    transition: all ease 0.3s;
  }
}
.manged-line:hover:nth-child(1) .content-box-otr {
  top: 0px;
  padding-top: 115px;
}
.manged-line:hover:nth-child(2) {
  position: relative;
}
@media (min-width: 1200px) {
  .manged-line:hover:nth-child(2) .border-two {
    width: 800px;
    height: 80px;
    background: url(../images/shapes/line02-mng.png) no-repeat;
    position: absolute;
    top: 40%;
    right: -500px;
    opacity: 1;
    transition: all ease 0.3s;
  }
}
.manged-line:hover:nth-child(2) .content-box-otr {
  top: -80px;
}

.consulting-content {
  width: 100%;
  position: relative;
  margin-top: 20px;
}
@media (min-width: 1024px) {
  .consulting-content {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .consulting-content {
    width: 60%;
  }
}
@media (min-width: 1400px) {
  .consulting-content {
    width: 65%;
  }
}

.image-view img {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: all ease 0.3s;
}

.content-box-otr {
  height: 10%;
  position: static;
  z-index: 6;
  margin-top: 0;
}
@media (min-width: 1024px) {
  .content-box-otr {
    position: absolute;
    top: 50px;
    right: -500px;
    display: none;
    width: 100%;
    padding-left: 0px;
  }
}
@media (min-width: 1200px) {
  .content-box-otr {
    padding-left: 62px;
    height: 600px;
    width: 800px;
    right: -800px;
  }
}

.content-box {
  max-width: 100%;
  font-size: 16px;
  line-height: 1.6;
  margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  transition: all ease 0.6s;
}
@media (min-width: 1024px) {
  .content-box {
    padding: 0 5%;
    text-align: center;
  }
}
.content-box P {
  font-size: 15px;
  margin-bottom: 25px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #3A3A3A;
  transition: all ease 0.6s;
}
@media (min-width: 768px) {
  .content-box P {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .content-box P {
    font-size: 20px;
  }
}

.content-box-thre {
  margin-top: -8px;
}

.c-box {
  padding: 4px 35px 4px 8px;
}
@media (min-width: 768px) {
  .c-box {
    padding: 8px 38px 8px 16px;
  }
}
@media (min-width: 1024px) {
  .c-box {
    padding: 12px 46px 12px 22px;
  }
}

.content-box.active {
  display: block;
  animation: fadeIn 0.4s ease;
}

.btn {
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  background: #34c759;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #28a745;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#default-view {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  position: relative;
}
#default-view .grdnt-overlay {
  background: linear-gradient(to right, rgb(47, 156, 67) 0%, rgba(52, 161, 137, 0) 42%, rgba(55, 164, 193, 0.78) 75%, rgba(58, 167, 234, 0) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  border-radius: 12px;
  transform: rotateY(0deg); /* Hidden by default */
  transform-origin: center;
  transition: transform 0.6s ease;
}

#default-view.fade-out {
  opacity: 0;
  pointer-events: none;
}

#default-view.fade-in {
  opacity: 1;
  pointer-events: auto;
}

/*# sourceMappingURL=solution-consulting.css.map */
